.address {

  &__modal-content {
    display: none;
    position: absolute;
    width: 250px;
    top: 30px;
    right: -100px;
    z-index: 10;
    background-color: @white;
    color: @text-color;
    margin: auto;
    padding: 0 20px;
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.1);

    @media (min-width: @screen-xs) {
      width: 300px;
    }

    &--time {
      right: -60px;
    }

    &--phone {
      right: -20px;
    }
  }

  &__modal-text {
    text-align: left;
  }

  &__modal-close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}