.advantages {
  padding: 4em 0;

  &__cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  &__list {
    list-style: none;
    text-align: center;

    li {
      margin-bottom: 2em;
    }
  }

  &__item {
    display: table;
    text-align: left;
    width: 300px;
    margin: 0 auto;

    @media (min-width: @screen-sm) {
      display: block;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__image {
    margin: 0 auto 10px auto;
    display: table-cell;

    @media (min-width: @screen-sm) {
      display: block;
    }
  }

  &__desc {
    margin: 0;
    font-weight: 300;
    display: table-cell;
    padding-left: 15px;
    vertical-align: middle;

    @media (min-width: @screen-sm) {
      display: block;
      padding-left: 0;
      vertical-align: middle;
    }
  }

  &__additional-info {
    margin: 0;
    font-size: 13px;
    color: @gray;
  }
}