.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  font-size: @font-size--small;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: 1px solid @orange;
  color: @orange;
  background-color: transparent;
  background-image: none;
  padding: 5px 20px;

  &:hover {
    text-decoration: none;
    background-color: @orange;
    color: @white;
  }

  &--bg-orange {
    background-color: @orange;
    color: @white;
  }
}