.feedback-modal {
  border-radius: 0;

  &__title {
    text-transform: none;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1em;
  }

  &__form {
    text-align: left;
  }

  // Bootstrap styles
  .modal-header {
    border-bottom: none;
  }

  .form-control {
    border-radius: 0;
  }
}