.guarantee {
  padding: 4em 0;

  &__item {
    padding: 4em;
    color: @white;
    background-color: @gray-darker;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    min-height: 220px;
    float: none;

    @media (min-width: @screen-sm) {
      min-height: 450px;
      background-position: bottom;
      max-width: none;
      margin: 0;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font-size: @font-size--accent;
    font-weight: 500;
    text-transform: none;
    text-align: left;
    margin: 0;

    @media (min-width: @screen-sm) {
      font-size: @font-size--h1;
    }
  }

  &__desc {
    font-size: @font-size;
    margin: 10px 0 1em 0;

    @media (min-width: @screen-sm) {
      font-size: @font-size--accent;
    }
  }
}