.main-nav {
  display: none;

  @media (min-width: @screen-lg) {
    display: inline-block;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    color: @text-color;
    font-size: 0.813em;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 17px;

    &:hover {
      color: @text-color;
      text-decoration: underline;
    }
  }
}