.maintenance {
  padding: 0 0 3em 0;

  &__inner {
    width: 80%;
    margin: 0 auto;

    @media (min-width: @screen-sm) {
      width: 600px;
      margin: 0 auto;
    }

    @media (min-width: @screen-lg) {
      width: 1070px;
      margin: 0 auto;
    }
  }

  &__slider {

    .owl-nav {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-16px);
      margin: 0;
    }

    .owl-nav [class*='owl-'] {
      background: transparent;
      margin: 0;
      padding: 0;
    }

    .owl-theme .owl-nav [class*='owl-']:hover {
      background: none;
    }

    .owl-prev, .owl-next {
      position: absolute;
      top: 0;
      bottom: 0;
      display: inline-block;
      margin: 0;
    }

    .owl-prev {
      left: -36px;

      @media (min-width: @screen-sm) {
        left: -40px;
      }

      .product-card-arrow {
        transform: rotate3D(0, 1, 0, 180deg);
      }
    }

    .owl-next {
      right: -36px;

      @media (min-width: @screen-sm) {
        right: -40px;
      }
    }

    .product-card-arrow {
      width: 32px;
      height: 32px;
    }

    .owl-nav svg:hover #product-card-arrow__circle, {
      fill: @blue;
    }
    .owl-nav svg:hover #product-card-arrow__shape {
      stroke: @white;
    }
  }
}