.make-an-order {
  position: relative;
  background-color: @gray-lighter;
  background-image: url(../img/bg--shapes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5em 0;
  text-align: center;

  &__step {
    max-width: 300px;
    display: table;
    text-align: left;
    margin: 0 auto 60px auto;

    @media (min-width: @screen-xs) {
      max-width: none;
      width: 350px;
    }

    @media (min-width: @screen-md) {
      max-width: none;
      width: 100%;
      display: block;
      text-align: center;
      position: relative;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    font-size: @font-size--accent;
    text-transform: none;
  }

  &__cover {

    @media (max-width: 991px) {
      display: table-cell;
    }

    @media (min-width: 991px) {
      margin: 0 auto 2em auto;
    }
  }

  &__content {

    @media (max-width: 991px) {
      display: table-cell;
      padding-left: 15px;
      vertical-align: middle;
    }
  }

  &__desc {
    margin: 0;
    vertical-align: top;
    position: relative;
    top: 10px;
  }

  &__phone-number {
    text-decoration: none;
    color: @text-color;
  }

  &__link {
    color: @blue;
    text-decoration: none;
  }

  &__delimiter {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%) rotate(90deg);

    @media (min-width: @screen-md) {
      bottom: none;
      top: 40px;
      right: -15px;
      transform: translateY(-50%);
    }
  }
}