.page-footer {
  color: @white;
  background-color: @blue;
  padding: 10px 0;

  &__copyright {
    text-align: center;
    font-size: @font-size--small;
    padding: 10px 0;

    @media (min-width: @screen-sm) {
      text-align: left;
    }

    @media (min-width: @screen-lg) {
      text-align: center;
    }
  }
}