.page-header {
  padding: 10px 0;

  &__address-list {
    list-style: none;
    text-align: right;
    margin: 10px 0;
  }

  &__address-item {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    vertical-align: middle;

    @media (min-width: @screen-xs) {
      margin: 0 15px;
    }

    &--right-edge {
      margin-right: 0;
    }
  }

  &__feedback {
    display: inline-block;
    text-align: right;
  }

  &__address-icon {
    position: absolute;
    left: 0;
    bottom: 5px;
    transform: scale(0.7);
  }

  &__address-text {
    margin-left: 23px;
    font-size: @font-size--small;
    line-height: 27px;
  }

  &__phone {
    font-size: 1.375em;
    letter-spacing: 0.03em;
    color: @text-color;

    @media (min-width: @screen-xs) {
      margin-left: 25px;
    }
  }

  // Dropdown menu
  .dropdown-toggle {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }

  .dropdown-toggle span {
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: @blue;
  }

  .dropdown-toggle span::before,
  .dropdown-toggle span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: @blue;
    content: "";
  }

  .dropdown-toggle span::before {
    top: -7px;
  }

  .dropdown-toggle span::after {
    bottom: -7px;
  }

  &__nav {
    text-align: right;
  }
}
