.product-card {
  position: relative;
  width: 100%;
  min-height: 300px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;

  &__background {
    position: relative;
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--bg-yellow {
      background-color: @orange;
      background-image: radial-gradient(ellipse at center, #ffe18b 0%, #ffb002 100%);
    }

    &--bg-white {
      background-image: none;
      background-color: @white;
    }

    &--bg-blue {
      background-color: @blue;
      background-image: radial-gradient(ellipse at center, #3556db 0%, #001775 100%);
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 80%;
    height: auto;
  }

  &__info {
    width: 100%;
    min-height: 80px;
    background-color: @white;
    padding: 20px 20px;
  }

  &__name {
    font-size: @font-size--accent;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
  }

  &__price {
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
  }
}