.promo {
  background-color: @gray-lighter;
  background-image: url(../img/bg--shapes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;

  &__text {
    padding: 5em 15px 3em 15px;
  }

  &__title {
    line-height: 42px;

    @media (max-width: @screen-sm) {
      font-size: 1.375em;
    }
  }

  &__desc {
    font-size: 22px;
    line-height: 30px;

    @media (max-width: @screen-sm) {
      font-size: @font-size--accent;
    }
  }

  &__slider-wrapper {
    padding: 0;

    @media (min-width: @screen-sm) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__slider {

    .owl-dots {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    .owl-dots .owl-dot span {
      background: @white;
    }

    .owl-dots .owl-dot.active span,
    .owl-dots .owl-dot:hover span {
      background: @orange;
    }
  }

  &__slider-item {
    background-color: @blue;
    color: @white;
    width: 100%;
    min-height: 450px;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
  }

  &__slider-slogan {
    font-family: 'Dodger';
    font-size: 65px;
    line-height: 90px;
    color: @white;

    @media (min-width: @screen-sm) {
      font-size: 140px;
      line-height: 140px;
    }
  }

  &__slider-desc {
    display: inline-block;
    color: @white;
    background-color: @blue;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    line-height: 26px;
    text-align: center;
    padding: 15px 25px;

    @media (min-width: @screen-sm) {
      font-size: @font-size--accent;
    }
  }
}
