.social-links {
  text-align: right;

  @media (max-width: @screen-sm) {
    text-align: center;
  }

  @media (min-width: @screen-lg) {
    padding-top: 5px;
  }

  &__item {
    display: inline-block;
    margin: 0 5px;
  }
}