.testimonials {
  padding: 4em 0;

  &__inner {
    width: 80%;
    margin: 0 auto;

    @media (min-width: @screen-sm) {
      width: 568px;
      margin: 0 auto;
    }

    @media (min-width: @screen-md) {
      width: 798px;
      margin: 0 auto;
    }

    @media (min-width: @screen-lg) {
      width: 1000px;
      margin: 0 auto;
    }
  }

  &__item {
    text-align: center;
  }

  &__image {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto 20px auto;
    transition: 0.4s;
  }

  &__author {
    margin: 0 0 1em 0;
    font-size: @font-size--accent;
    font-weight: 500;
  }

  &__text {
    font-size: @font-size--small;
    font-weight: 300;
    max-width: 320px;
    margin: auto;

    @media (min-width: @screen-sm) {
      min-width: 100%;
    }
  }

  &__slider {

    .owl-nav {
      position: absolute;
      top: 95px;
      left: 0;
      right: 0;
      transform: translateY(-16px);
      margin: 0;

      svg {
        width: 50px;
        height: 50px;
      }
    }

    .owl-nav [class*='owl-'] {
      background: transparent;
      margin: 0;
      padding: 0;
    }

    .owl-theme .owl-nav [class*='owl-']:hover {
      background: none;
    }

    .owl-prev, .owl-next {
      position: absolute;
      top: 0;
      bottom: 0;
      display: inline-block;
      margin: 0;
    }

    .owl-prev {
      left: 0;

      @media (min-width: @screen-sm) {
        left: -50px;
      }
    }

    .owl-next {
      right: 0;

      @media (min-width: @screen-sm) {
        right: -50px;
      }

      svg {
        transform: rotate3D(0, 1, 0, 180deg);
      }
    }

    .testimonials-arrow {
      width: 50px;
      height: 50px;
    }

    .owl-item {

      @media (min-width: @screen-sm) {

        .testimonials__image {
          transform: scale(0.7);
          filter: grayscale(100%);
        }
        .testimonials__author {
          display: none;
        }

        .testimonials__text {
          display: none;
        }
      }
    }

    .owl-item.active.center {

      .testimonials__image {
        transform: scale(1);
        filter: none;
      }

      .testimonials__author {
        display: block;
      }
      .testimonials__text {
        display: block;
      }
    }

    .owl-nav svg:hover #testimonials-arrow__circle, {
      fill: #f0f0f0;
    }
  }
}