<header class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div class="logo">
          <img class="logo__image" src="img/logo.svg" alt="">
        </div>
      </div>
      <div class="col-xs-10">
        <div class="row">
          <div class="col-xs-12">
            <ul class="page-header__address-list">

              <li class="page-header__address-item  hidden-lg">
                <div class="address">
                  <button id="address-button" class="address__button" type="button">
                    <div class="header--address-point"></div>
                  </button>
                  <div id="address-modal" class="address__modal-content">
                    <span class="address__modal-close">&times;</span>
                    <p class="address__modal-text">Ленинградская обл., г. Сертолово, мкр. Черная речка, 54а</p>
                  </div>
                </div>
              </li>
              <li class="page-header__address-item  hidden-xs  hidden-sm  hidden-md">
                <div class="page-header__address-icon  header--address-point"></div>
                <span class="page-header__address-text">Ленинградская обл., г. Сертолово, мкр. Черная речка, 54а</span>
              </li>

              <li class="page-header__address-item  hidden-lg">
                <div class="address">
                  <button id="address-button--time" class="address__button" type="button">
                    <div class="header--clock"></div>
                  </button>
                  <div id="address-modal--time" class="address__modal-content  address__modal-content--time">
                    <span class="address__modal-close  address__modal-close--time">&times;</span>
                    <p class="address__modal-text">Ежедневно с 11:00 до 20:00</p>
                  </div>
                </div>
              </li>
              <li class="page-header__address-item  hidden-xs  hidden-sm  hidden-md">
                <div class="page-header__address-icon  header--clock"></div>
                <span class="page-header__address-text">Ежедневно с 11:00 до 20:00</span>
              </li>

              <li class="page-header__address-item  hidden-lg">
                <div class="address">
                  <button id="address-button--phone" class="address__button" type="button">
                    <div class="header--phone"></div>
                  </button>
                  <div id="address-modal--phone" class="address__modal-content  address__modal-content--phone">
                    <span class="address__modal-close  address__modal-close--phone">&times;</span>
                    <p class="address__modal-text"><a href="tel:+79214110584" class="page-header__phone">+7 (921) 411-05-84</a></p>
                  </div>
                </div>
              </li>
              <li class="page-header__address-item  page-header__address-item--right-edge  hidden-xs  hidden-sm  hidden-md">
                <div class="page-header__address-icon  header--phone"></div>
                <a href="tel:+79214110584" class="page-header__phone  visible-lg">+7 (921) 411-05-84</a>
              </li>

              <li class="page-header__address-item  hidden-lg">
                <div class="dropdown">
                  <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a href="/">Скидки</a></li>
                    <li><a href="#advantages">Наши преимущества</a></li>
                    <li><a href="#crowd-pleasing">Популярные товары</a></li>
                    <li><a href="#guarantee">Гарантии</a></li>
                    <li><a href="#testimonials">Отзывы</a></li>
                    <li><a href="/">Контакты</a></li>
                  </ul>
                </div>
              </li>

            </ul>
          </div>
          <div class="page-header__nav  col-xs-12">
            <nav class="main-nav">
              <ul class="main-nav__list">
                <li class="main-nav__item"><a href="/" class="main-nav__link">Скидки</a></li>
                <li class="main-nav__item"><a href="#advantages" class="main-nav__link">Наши преимущества</a></li>
                <li class="main-nav__item"><a href="#crowd-pleasing" class="main-nav__link">Популярные товары</a></li>
                <li class="main-nav__item"><a href="#guarantee" class="main-nav__link">Гарантии</a></li>
                <li class="main-nav__item"><a href="#testimonials" class="main-nav__link">Отзывы</a></li>
                <li class="main-nav__item"><a href="/" class="main-nav__link">Контакты</a></li>
              </ul>
            </nav>
            <div class="page-header__feedback">
              <button type="button" class="hidden-xs  btn  btn--bg-orange" data-toggle="modal" data-target="#myModal">Оставить заявку</button>
            </div>
            <div class="modal  fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog  modal-sm" role="document">
                <div class="feedback-modal  modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <h3 class="feedback-modal__title" id="myModalLabel">Оставьте заявку, и наш менеджер с вами свяжется</h3>
                    <form class="feedback-modal__form">
                      <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Имя">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="phone">Phone</label>
                        <input type="tel" class="form-control" id="phone" placeholder="Телефон">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="vin-code">Vin-code</label>
                        <input type="number" class="form-control" id="vin-code" placeholder="VIN-код">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="request">Request</label>
                        <textarea class="form-control" id="request" rows="3" placeholder="Требуемая деталь"></textarea>
                      </div>
                      <button type="submit" class="btn  btn--bg-orange" data-dismiss="modal">Оставить заявку</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>