<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  col-sm-6  col-lg-4 col-lg-offset-4">
        <div class="page-footer__copyright">SRT-Parts 2017 &copy; Все права защищены</div>
      </div>
      <div class="col-xs-12  col-sm-6  col-lg-4">
        <div class="social-links">
          <a href="/"><div class="social-links__item  vk"></div></a>
          <a href="/"><div class="social-links__item  facebook"></div></a>
          <a href="/"><div class="social-links__item  instagram"></div></a>
          <a href="/"><div class="social-links__item  youtube"></div></a>
        </div>
      </div>
    </div>
  </div>
</footer>